<!--load base profillayout-->
{% extends 'profil/base.html' %}

<!-- load crispy forms tags -->
{% load crispy_forms_tags %}

<!--judul-->
{% block title %} {{ getusrname.username }} Edit Nama | Bantuin {% endblock %}

<!--konten-->
{% block content %}

<div id="page-wrapper" style="margin-top:35px">
    <div class="row">
        <div class="col-lg-12">
            {% if user.username == getusrname.username %}

			<h1 class="page-header">Edit Nama Lengkap</h1>

			<form action="." method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form|crispy }}
				<input type="submit" class="btn btn-primary" value="Simpan">
			</form>

		{% else %}

			<meta http-equiv="refresh" content="0; url=/">

		{% endif %}

        </div>
        <!-- /.col-lg-12 -->
    </div>            
</div>
<!-- /#page-wrapper -->

{% endblock %}
