<!-- konsepnya seperti pada tokopedia,

ketika user login maka user hanya dapat melihat sedikit info tentang user lain, namun user dapat melihat lengkap dari profilnya sendiri.
ketika user tidak login maka user hanya dapat melihat sedikit info tentang profilnya sendiri, dan user lain. -->

{% if user.is_authenticated %}

	<a href="/">Home</a>

	{% if user.username == getusrname.username %}

	<h1>ini halaman profil {{ getusrname.username }}</h1>
	<img src="../../media/{{ getprofil.avatar }}" style="max-width: 25%;"><br>
	username : {{ getusrname.username }} <br>
	email : <a href="mailto:{{ getusrname.email }}">{{ getusrname.email }}</a> <br>
	display name : {{ getusrname.first_name }} {{ getusrname.last_name }} <br>
	tanggal lahir : {{ getprofil.tgl_lahir }} <br>
	jenis kelamin : {{ getprofil.jenis_kelamin }} <br>
	alamat : {{ getprofil.alamat }} <br> 
	desa : {{ getprofil.desa }} <br>
	kecamatan : {{ getprofil.kecamatan }} <br>
	kabupaten : {{ getprofil.kabupaten }} <br>
	provinsi : {{ getprofil.provinsi }} <br>
	negara : {{ getprofil.negara }} <br>
	phone : {{ getprofil.phone }} <br>
	self introduction : {{ getprofil.self_introduction }} <br>
	website : <a href="{{ getprofil.website }}" target="_blank">{{ getprofil.website }}</a> <br>
	keahlian : {{ getprofil.keahlian }} <br>
	last login : {{ getusrname.last_login }} <br>
	date joined : {{ getusrname.date_joined }} <br>

	{% else %}

	<h1>ini halaman profil {{ getusrname.username }}</h1>

	username : {{ getusrname.username }} <br>
	display name : {{ getusrname.first_name }} {{ getusrname.last_name }} <br>
	tanggal lahir : {{ getprofil.tgl_lahir }} <br>
	jenis kelamin : {{ getprofil.jenis_kelamin }} <br>
	self introduction : {{ getprofil.self_introduction }} <br>
	date joined : {{ getusrname.date_joined }} <br>

	{% endif %}

{% else %}

<h1>ini halaman profil {{ getusrname.username }}</h1>

username : {{ getusrname.username }} <br>
display name : {{ getusrname.first_name }} {{ getusrname.last_name }} <br>
tanggal lahir : {{ getprofil.tgl_lahir }} <br>
jenis kelamin : {{ getprofil.jenis_kelamin }} <br>
self introduction : {{ getprofil.self_introduction }} <br>
date joined : {{ getusrname.date_joined }} <br>
{% endif %}
