<!-- konsepnya seperti pada tokopedia,

ketika user login maka user hanya dapat melihat sedikit info tentang user lain, namun user dapat melihat lengkap dari profilnya sendiri.
ketika user tidak login maka user hanya dapat melihat sedikit info tentang profilnya sendiri, dan user lain. -->

{% if user.is_authenticated %}

	<a href="/">Home</a>

	{% if user.username == usrdata.username %}

	<h1>ini halaman profil {{ usrdata.username }}</h1>
	username : {{ usrdata.username }} <br>
	email : {{ usrdata.email }} <br>
	first name : {{ usrdata.first_name }} <br>
	last name : {{ usrdata.last_name }} <br>
	last login : {{ usrdata.last_login }} <br>
	date joined : {{ usrdata.date_joined }} <br>

	{% else %}

	<h1>ini halaman profil {{ usrdata.username }}</h1>

	username : {{ usrdata.username }} <br>

	{% endif %}

{% else %}

<h1>ini halaman profil {{ usrdata.username }}</h1>

username : {{ usrdata.username }} <br>

{% endif %}
