{% extends "registerlayout/base.html" %}

{% if request.user.is_authenticated %}
    <html lang="en-US">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="refresh" content="0; url=/">
            <title>Logging Out</title>
        </head>
        <body>
        </body>
    <html>

{% else %}




<!--konten-->
{% block content %}

<div class="form">
{% load static %}
  <a href="/"><img src="{% static 'img/logo.png' %}" height="128px" width="128px" /></a>
  	<form method="post" action=".">
        {% csrf_token %}

        {{ form.non_field_errors }}
        <p>
        {{ form.username }}
        {{ form.username.errors }}
        </p>

        <p>
        {{ form.password }}
        {{ form.password.errors }}
        </p>

        <button type="submit">Log in</button>
        <input type="hidden" name="next" value="{{ next }}" />
	    <p class="message-forgot">Forgot password? <a href="{% url 'auth_password_reset' %}">Enter</a></p>
	    <p class="message-register">Not registered? <a href="{% url 'registration_register' %}">Create an account</a></p>
  	</form>
</div>

{% endblock %}

{% endif %}

