{% extends "registerlayout/base.html" %}
{% load i18n %}

<!-- load widget tweaks -->
{% load widget_tweaks %}

<!--judul-->
{% block title %} Bantuin - Reset Password{% endblock %}

{% block content %}

<div class="form">

  	<a href="/"><img src="/static/register/img/logo.png" height="128px" width="128px" /></a>
  	<form method="post" action=".">
	    {% csrf_token %}

  		{% if form.username.errors %}
        {% for error in form.username.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
      <p>
        {% render_field form.username placeholder=form.username.label %}
      </p>

      {% if form.email.errors %}
        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
      <p>
        {% render_field form.email placeholder=form.email.label %}
      </p>

	    <button type="submit">Reset</button>
  	</form>
</div>
{% endblock %}
