{% extends "registerlayout/base.html" %}
{% load i18n %}

<!--judul-->
{% block title %} Bantuin - Ubah Password{% endblock %}

{% block content %}

<div class="form">

  	<a href="/"><img src="/static/register/img/logo.png" height="128px" width="128px" /></a>
  	<form method="post" action=".">
	    {% csrf_token %}

  		{% if form.old_password.errors %}
        {% for error in form.old_password.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
      <p>
        {{ form.old_password }}
      </p>

      {% if form.new_password1.errors %}
        {% for error in form.new_password1.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
      <p>
        {{ form.new_password1 }}
      </p>

      {% if form.new_password2.errors %}
        {% for error in form.new_password2.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
      <p>
        {{ form.new_password2 }}
      </p>

	    <button type="submit">Reset</button>
  	</form>

  	<p class="message-forgot">Kembali Ke <a href="/">Rumah</a></p>
</div>
{% endblock %}

