{% extends "registerlayout/base.html" %}
{% load i18n %}

<!-- load widget tweaks -->
{% load widget_tweaks %}

<!--judul-->
{% block title %} Bantuin - Registrasi {% endblock %}

<!--konten-->
{% block content %}

{% if request.user.is_authenticated %}
    <meta http-equiv="refresh" content="0; url={% url 'auth_logout' %}" />
{% else %}


<div class="form">
  	<a href="/"><img src="/static/register/img/logo.png" height="128px" width="128px" /></a>
  	<form method="post" action=".">
	    {% csrf_token %}

        {% if form.username.errors %}
        {% for error in form.username.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <p>
        {% render_field form.username placeholder=form.username.label %}
        </p>

        {% if form.email.errors %}
        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <p>
        {% render_field form.email placeholder=form.email.label %}
        </p>

        {% if form.password1.errors %}
        {% for error in form.password1.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
		<p>
        {% render_field form.password1 placeholder=form.password1.label %}
        </p>

        {% if form.password2.errors %}
        {% for error in form.password2.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
		<p>
        {% render_field form.password2 placeholder=form.password2.label %}
        </p>

	    <button type="submit">Sign Up</button>
	    <p class="message-login">Already registered? <a href="{% url 'auth_login' %}">Sign In</a></p>
  	</form>
</div>

{% endif %}
{% endblock %}
