<!DOCTYPE html>
<html lang="en">

<head>

    <!--loadtitle-->
    <title>{% block title %}{% endblock %}</title>

    <!--load main css and more-->
    {% include "kategori/head.html" %}


</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">

            {% include "kategori/nav.html" %}
            
            
        </nav>
        {% include "kategori/sidebar.html" %}

    <!--load content-->
    {% block content %}{% endblock%}

    </div>
    <!-- /#wrapper -->

    <!--load main js-->
    {% include "kategori/js.html" %}

</body>

</html>
