<!--load base kategorilayout-->
{% extends 'kategori/base.html' %}

<!--judul-->
{% block title %} Kategori Bantuan {% endblock %}

<!--konten-->
{% block content %}

<div id="page-wrapper" style="margin-top:35px">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Semua Bantuan</h1>

            <div class="alert alert-danger" role="alert">
				<p>
		        	<strong>upload avatar tidak dapat digunakan pada situs contoh ini.</strong><br>
		            <strong>upload avatar hanya dapat digunakan pada localhost atau development mode</strong>
		    	</p>
		    </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {# baris pertama bantuan #}
	<div class="row">
		<div class="col-lg-4 col-md-6">
			<div class="panel panel-green">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-camera fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
							<div class="huge">26</div>
							<div>ACARA</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">Lihat Bantuannya</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="panel panel-yellow">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-building fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
							<div class="huge">26</div>
							<div>BANGUNAN</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">Lihat Bantuannya</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="panel panel-red">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-medkit fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
							<div class="huge">26</div>
							<div>KESEHATAN</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">Lihat Bantuannya</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
	{# baris kedua bantuan #}
	<div class="row">
		<div class="col-lg-4 col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-spoon fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
							<div class="huge">26</div>
							<div>MAKANAN</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">Lihat Bantuannya</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="panel panel-red">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-shirtsinbulk fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
							<div class="huge">26</div>
							<div>PAKAIAN</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">Lihat Bantuannya</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-graduation-cap fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
							<div class="huge">26</div>
							<div>PENDIDIKAN</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">Lihat Bantuannya</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
	{# baris ke tiga bantuan #}
	<div class="row">
		<div class="col-lg-4 col-md-6">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-wrench fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
							<div class="huge">26</div>
							<div>REPARASI</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">Lihat Bantuannya</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-home fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
							<div class="huge">26</div>
							<div>RUMAH TANGGA</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">Lihat Bantuannya</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-car fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
							<div class="huge">26</div>
							<div>TRANSPORTASI</div>
						</div>
					</div>
				</div>
				<a href="#">
					<div class="panel-footer">
						<span class="pull-left">Lihat Bantuannya</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- /#page-wrapper -->
{% endblock content %}